*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-self: center;
    height: 100vh;
    align-items: center;
    background-color: #eee;
}

.card-1{
    width: 30%;
    height: auto;
    margin: 0 auto;
    background-color: #ddd;
    padding: 4%;
    border-radius: 16px;
}

.formcls{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.inpBB{
    width: 100%;
    height: 60px;
    border-style: none;
    margin-top: 20px;
    border-radius: 12px;
    padding: 2% 4%;
}

.inpBox{
    background-color: #eee;
}

.Btn{
    color: #eee;
    background-color: #480c80;
    cursor: pointer;
}
.Btn:hover{
    background-color: #6714b6;
}

label{
    margin-top: 20px;
}

@media (max-width: 748px){
    .card-1{
        width:90%;
    }
}
